* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend";
}
html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  width: 100%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page2 {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  padding: 3vw 0;
}
#page3 {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
  font-size: 40vw;
  font-weight: 500;
  text-transform: uppercase;
}

#box {
  width: 200px;
  height: 200px;
  background-color: red;
}
