* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend";
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
}
#cursor {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 3px;
}
#ball {
  position: absolute;
  margin: 300px 0 0 300px;
  width: 100px;
  height: 100px;
  background-color: #f6e602;
  border-radius: 50%;
  z-index: 11;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#image img {
  height: 300px;
  width: 500px;
  object-fit: cover;
  z-index: 9;
}
#overlay {
  height: 100%;
  width: 100%;
  background-color: red;
}
