
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    font-family: "Inter";
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
}
/* #box1{
    z-index: 0;
    width: 200px;
    height: 200px;
    background-color: crimson;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
}
h1{
    width: 100%;

}
#boxes1 {
    width: 100px;
    height: 100px;
    background-color: crimson;
}
#boxes2 {
    width: 100px;
    height: 100px;
    background-color: lightsalmon;
}
#boxes3 {
    width: 100px;
    height: 100px;
    background-color:aquamarine;
} */
#nav {
    z-index: 100;
    display: flex;
    padding: 30px 50px;
    width: auto;
    justify-content: space-between;
    align-items: center;

}
#part2{
    z-index: inherit;
    display: flex;
    gap:120px;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}