*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: crimson;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
}
h1{
    width: 100%;
    display: flex;
    justify-content: center;
}
#boxes1 {
    width: 100px;
    height: 100px;
    background-color: crimson;
}
#boxes2 {
    width: 100px;
    height: 100px;
    background-color: lightsalmon;
}
#boxes3 {
    width: 100px;
    height: 100px;
    background-color:aquamarine;
}